# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Expo / React Native
*.expo
.expo/
.expo-shared/
*.DS_Store
*.log
.env
.env.*
*.keystore

# macOS
.DS_Store

# Python (if backend is Django)
__pycache__/
*.py[cod]
*.sqlite3

# VSCode
.vscode/
